header {
   background-image: url('../image/fotodefondo2.png');
       background-size: cover;
       background-position: center;
       height: 120vh; /* Altura del header igual a la altura de la ventana */
       color: white;
       display: flex;
       align-items: left;
       justify-content: center;
       padding: 0 20px;ido toque los bordes */
}


 .table tbody tr td {
            color: black; /* Establece el color del texto a negro */
            background-color: white; /* Establece el fondo a blanco */
        }
          .login-link {
    margin-left: auto; /* Alinea automáticamente a la derecha */
    display: flex; /* Asegura que el enlace de login sea flexible */
    align-items: horizontal; /* Centra verticalmente el enlace de login */
}
 .login-link a {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    text-decoration: none;
    padding: 10px 20px; /* Consistencia en el padding */
    font-size: 18px; /* Consistencia en el tamaño de fuente */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s;

}

 .login-link a:hover {
    background-color: #f2f2f2; /* Color de fondo más oscuro al pasar el ratón */
    color: #000; /* Mantener el texto en negro */
}