body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%; /* Asegura que el body y html ocupan toda la altura */
}



header {
    background-image: url('../image/fotodefondo2.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
    background-position: left;
    height: 60vh; /* Altura del header ajustada */
    color: white;
    display: flex;
    align-items:  left; /* Centra verticalmente el contenido */
    justify-content: left; /* Centra horizontalmente el contenido */
    padding: 0 20px;
}

.logo-img {
    max-width: 50%; /* Ajusta el ancho máximo de la imagen al tamaño del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
}
.nav-links {
    display: flex;
    justify-content: center; /* Comienza los enlaces en la parte izquierda */
    list-style: none;
    padding: 0;
    margin: 0;

}
.nav-links a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px; /* Reducir el tamaño de fuente */
    transition: color 0.3s;

}



.nav-links a:hover {
    color: #FFD700; /* Cambio a un color más claro al pasar el ratón */
}

.login-link {
    margin-left: auto; /* Alinea automáticamente a la derecha */
    display: flex; /* Asegura que el enlace de login sea flexible */
    align-items: horizontal; /* Centra verticalmente el enlace de login */
}

.login-link a {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    text-decoration: none;
    padding: 10px 20px; /* Consistencia en el padding */
    font-size: 16px; /* Consistencia en el tamaño de fuente */
    border-radius: 2px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s;

}

.login-link a:hover {
    background-color: #f2f2f2; /* Color de fondo más oscuro al pasar el ratón */
    color: #000; /* Mantener el texto en negro */
}