<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nombre de la Empresa</title>
    <link href="../css/styles.css" rel="stylesheet">

</head>

<header>

<div class="content-container">

    <nav>
        <table>
           <tr> </tr>
            <tr>
                <th>
                    <div class="nav-links">
                        <a th:href="@{/viewEmpresas}">Empresas</a>
                        <a th:href="@{/viewSocios}">Socios</a>
                        <a th:href="@{/viewQuienesSomos}">Quiénes Somos</a>
                    </div>
                </th>

            </tr>


            <tr>    <B>   GRUPO ROBLE     (   <a th:href="@{/login}">  Login</a> )  </B>    </tr>
        </table>
 </nav>

</div>






</header>

</html>