<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GRUPO ROBLE</title>
    <link href="../css/quienessomos.css" rel="stylesheet">
</head>
<body>

<header>


<div class="content-container">
    <h1>GRUPO ROBLE</h1>
    <h2>¿Quiénes somos?</h2>
    <div>
       <p>Somos un consorcio emblemático de comerciantes de la provincia de Buenos Aires,</p>
       <p>fundado en junio de 2012 con el objetivo de optimizar nuestras compras y </p>
       <p>operaciones comerciales. Originarios de las ciudades de Azul, Saladillo, Chacabuco, Chivilcoy, Junín,</p>
       <p>Mercedes, Dolores y Castelli, nos hemos convertido en un faro de progreso y </p>
       <p>cooperación en la región. Desde su fundación, Grupo Roble ha evolucionado significativamente. </p>
       <p>En nuestros primeros años, marcamos nuestra presencia a través de revistas distribuidas </p>
       <p>en nuestras ciudades base. Sin embargo, con el avance tecnológico y los cambios </p>
       <p>en las dinámicas de comunicación, hemos migrado nuestra presencia a las vibrantes</p>
       <p>plataformas de redes sociales de cada uno de nuestros negocios asociados.</p>
       <p>El año 2020 fue un hito crucial para nosotros. Ante los desafíos presentados</p>
       <p>por la pandemia global, tomamos un paso estratégico hacia la digitalización al establecer</p>
       <p>nuestras propias páginas web. Este avance no solo nos permitió mantenernos activos durante </p>
       <p>el momento más crítico, sino que también reforzó nuestra presencia en el mercado digital y fortaleció
       <p>los lazos entre los miembros del grupo y nuestros clientes.</p>
       <p>Ahora, en 2024, Grupo Roble se ha renovado una vez más. Con nuevos ingresos y estructuras,</p>
       <p>nuestra alianza se ha expandido para incluir localidades como:
       <p><b>Junín, Chacabuco,Dolores, Mercedes, 25 de Mayo,Saladillo, Las Flores, Azul, Tandil, Balcarce y Mar del Plata.</b></p>
       <p>Esta expansión no solo ha mejorado nuestra capacidad logística y comercial, sino que también ha
       <p> generado una ola de nuevos emprendimientos y oportunidades de compra, recibidos con gran entusiasmo</p>
       <p>por todas las empresas miembros.Nuestro grupo está coordinado por un equipo dedicado, compuesto por </p>
       <p>un coordinador y 11 miembros activos. Las negociaciones se gestionan con la participación </p>
       <p>rotativa de 3 a 4 miembros en cada proceso, garantizando así una variedad de perspectivas y frescura </p>
       <p>en todas nuestras actividades comerciales.</p>
       <p>En nuestra página web, <b>www.grupoRobleBsAs.com.ar</b>, cada integrante puede acceder a información detallada sobre</p>
       <p>las fábricas con las que comercializamos, las condiciones de compra, y los representantes de ventas de cada fábrica.</p>
       <p>Además, mantenemos estadísticas actualizadas de las compras realizadas por el grupo a cada empresa.</p>
    </div>



    <h2> Grupo Roble: Creciendo juntos, construyendo futuro.</h2>
    <div class="login-link" >
        <a th:href="@{/}">Volver</a>
    </div>
</div>
</body>
</header>
</html>
